---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="test">11</div>
</Layout>

 <style lang="scss">

.test{
  color: royalblue;
}
</style> 


<script>
  console.log('about')
</script>