---
export interface LayoutProps {
  title: string;
}

const { title } = Astro.props as LayoutProps;
import "../sass/foundation/base.scss";
import "../sass/foundation/reset.scss";

---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss"></style>

<script>
  import Lenis from "@studio-freight/lenis";

  const lenis = new Lenis();

  function raf(time: any) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
